/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 79000000 version
*/

:root {
    --primary-color: #bf932b;
}

body {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background-color: #172f66;
    background-image: -webkit-radial-gradient(circle, #2c58bf, #122652);
    background-image: -moz-radial-gradient(circle, #2c58bf, #122652);
    background-image: -o-radial-gradient(circle, #2c58bf, #122652);
    background-image: radial-gradient(circle, #2c58bf, #122652);
    font: normal normal 15px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}

.page-heading{
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: var(--primary-color);
}

.article {
    width: 100%;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgb(205, 205, 205);
}
.article-background {
    padding: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    background-color: #0008;
    -webkit-border-radius: 1rem;
       -moz-border-radius: 1rem;
            border-radius: 1rem;
}
.article-heading {
    font-weight: bold;
    color: var(--primary-color);
}
.article-text p {
    max-width: 50rem;
    max-height: -webkit-calc(12rem - 4px);
    max-height: -moz-calc(12rem - 4px);
    max-height: calc(12rem - 4px);
    overflow-y: hidden;
}
.article-img {
    float: left;
    max-width: 30%;
    max-height: inherit;
    margin: 0.5rem;
}
.article-more a {
    color: inherit;
    text-decoration: none;
    background-color: #0005;
    padding: 0.5rem;
    -webkit-border-radius: 0.5rem;
       -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
}